@page "/anchor"
@inject ILogger<Anchor> Logger
@inject JsPart<Anchor> Js
@inject JsDom Dom

<PageTitle>Anchor</PageTitle>

<div class="anchor-demo-page">
    <div @ref="anchorBox" class="anchor-demo-box">
        <span>@anchorBoxPosition?.X</span>
        <span>,</span>
        <span>@anchorBoxPosition?.Y</span>
    </div>
</div>

@code {
    private ElementReference anchorBox;
    private JsPosition? anchorBoxPosition;
    private DotNetObjectReference<Anchor>? selfDn;


    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            selfDn = DotNetObjectReference.Create(this);
            await Js.InvokeVoidAsync("init", selfDn, anchorBox);
        }
    }

    [JSInvokable]
    public async Task OnMouseMove()
    {
        anchorBoxPosition = await Dom.GetPosition(anchorBox);
        StateHasChanged();
    }
}
